header#headerpr {
  /* background-color: darkgreen; */
  height: 80px;
  z-index: 1000;
}
header#headerpr .container {
  height: 100%;
  overflow: hidden;
}

div#headerwr {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 16px;
  align-items: center;
}
div.headercol {
  display: flex;
  align-items: center;
}
div#headerleft {
  justify-content: flex-start;
}
div#headerleft a {
  color: var(--color3);
  line-height: 1;
}
div#headerleft a span.logotagline {
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
  font-size: 60%;
  word-spacing: 1px;
}

#headerleft a h2 span.comfy {
  color: var(--color2);
  text-transform: uppercase;
  font-weight: 800;
  font-size: 80%;
}

div#headerleft a h2 {
  font-size: var(--fontsize2);
  line-height: 1;
  margin: 0;
}
div#headerright {
  justify-content: flex-end;
}
nav#headernav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
div#navwr {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}
nav#headernav ul {
  display: flex;
  gap: 16px;
  list-style: none;
  padding: 0;
}
nav#headernav ul li {
  padding: 0 16px;
  text-transform: uppercase;
}

nav#headernav ul li a {
  color: var(--color3);
}

@media screen and (min-width: 600px) {
  #mobmenutoggleopen {
    display: none;
  }
  #mobmenutoggleclose {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  div#mobmenutoggleopen {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  div#mobmenutoggleopen i {
    fill: var(--color3);
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  nav#headernav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    background-color: black;
    align-items: flex-start;
    padding: 1rem 8px;
  }
  nav#headernav ul {
    flex-direction: column;
    width: 100%;
    margin-top: 3rem;
  }
  div#mobmenutoggleclose.inactive {
    display: none;
  }
  div#mobmenutoggleclose.active {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    color: white;
    font-size: 18px;
    cursor: pointer;
  }
}
