section#heropr {
  height: calc(90vh - 80px);
  margin-top: -80px;
  position: relative;
  background-image: url(images/herobg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  background-position: 0rem -17rem;
}
section#heropr:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  /* background-color: rgba(0, 0, 0, 0.7); */
  top: 0;
  left: 0;
  z-index: -1;
}
section#heropr:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  /* background-image: url(/images/sq.webp); */
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.9)
    ),
    url(images/sq.webp);
  top: 0;
  left: 0;
}
section#heropr .container {
  position: relative;
}
div#herowr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 2;
}

span.herobook {
  font-size: var(--fontsize2);
  font-weight: 800;
  text-transform: uppercase;
  color: var(--color2);
}
span.herophone {
  font-size: var(--fontsizebig1);
  font-weight: 900;
  letter-spacing: 1px;
}
div#herocar {
  background-image: url(images/mus2.webp);
  width: 500px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -8rem;
  z-index: 2;
}
